.success-alert{
    width: 100%;
    height: 100vh;
    position: relative;

    .success-message-container{
        position: absolute;
        top: 0; left: 0;
        z-index: 3;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;

        .success-message{
            background-color: rgba(0, 0, 0, 0.8);
            margin-top: 100px;
            width: 40%;
            height: 250px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            i{
                font-size: 3rem;
                margin-bottom: 10px;
                color: gold;
            }

            h1{
                color: white;
            }

            p{
                color: white;
                padding: 10px 30px;
                text-align: center;
            }

            a{
                margin-top: 25px;
                color: white;
                background-color: black;
                padding: 5px 15px;
                box-shadow: 1px 1px 4px gold;
            }
        }
    }
}

.success-alert::before{
    content: "";
    position: absolute;
    top: 0; left: 0;
    background-image: url(../images/success-bg.jpg);
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100vh;
}

.success-alert::after{
    content: "";
    position: absolute;
    top: 0; left: 0;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 100vh;
}

@media screen and(max-width:768px){
    .success-alert{
        .success-message-container{
    
            .success-message{
                width: 60%;
                height: 300px;
    
                i{
                    font-size: 2.5rem;
                }
    
                p{
                    font-size: 1rem;
                    padding: 10px 20px;
                }
    
                a{
                    margin-top: 20px;
                }
            }
        }
    }
}

@media screen and(max-width:416px){
    .success-alert{
        .success-message-container{
    
            .success-message{
                width: 75%;
                height: 300px;
    
                i{
                    font-size: 2rem;
                }
            }
        }
    }
}